# Moodle Plugin mod_leafr
# Ignore ZIP files
leafr.zip
*.zip

# Ignore docx files (as they are in the parent folder, but just in case)
*.docx

# Moodle temporary folders
/vendor/

# OS specific files
.DS_Store
Thumbs.db
