{{!
    Template: mod_leafr/toolbar (standalone, currently embedded in reader.mustache)
    @copyright 2026 Leafr
    @license   GNU GPL v3 or later
}}
{{! Toolbar is embedded directly in reader.mustache for simpler AMD integration. }}
